$page-bg-color-dark: #1e1823;
$page-bg-color-light: #fafafa;

$logo-text-color: #111111;
$logo-fs--d: 18px;
$logo-fs--m: 14px;
$logo-ls--d: 20px;
$logo-ls--m: 14px;

$title-color-light: #ffffff;
$title-color-dark: #111111;
$title-color-highlighting: #fd9222;
// $title-fs: 28px;
// $title-fs--m: 20px;
// $title-lh: 28px;
// $title-lh--m: 24px;

$subtitle-color-light: #ffffff;
$subtitle-color-dark: #111111;
// $subtitle-fs: 18px;
// $subtitle-lh: 24px;

$content-color-light: #ffffff;
$content-color-light-translucent: rgba(255, 255, 255, 0.7);
$content-color-dark: #111111;
$content-color-dark-translucent: rgba(17, 17, 17, 0.7);
// $content-fs: 14px;
// $content-lh: 18px;

$nav-link-color-light: #ffffff;
$nav-link-color-dark: #111111;
$nav-link-color-active: #fd9222;
// $nav-fs: 14px;
// $nav-lh: 16px;

$btn-color-light-first: #ffffff;
$btn-color-light-second: #fd9222;
$btn-color-dark: #111111;

$btn-bg-color-light-first: #fcf1e0;
$btn-bg-color-light-second: #fd9222;
$btn-bg-color-dark: #1e1823;
$btn-bg-color-transparent: transparent;

$btn-border-color-light-first: #fcf1e0;
$btn-border-color-light-second: #fd9222;
$btn-border-color-dark: #1e1823;

$border-color-light: rgba(255, 255, 255, 0.7);

$slider-btn-color: rgba(17, 17, 17, 0.1);
$slider-btn-color-selected: #fd9222;

$soc-icon-color-light: #ffffff;
$soc-icon-color-dark: #111111;
$soc-icon-color-active: #fd9222;

$active-color: #fd9222;

$shf: 4.9406564584124654e-323;
