<header class="section header-section">
  <div class="container header-container">
    <div class="header-content-wrap">
      <a href="" class="logo" rel="noopener nofollow noreferrer">
        <span class="logo-text"
          ><span class="logo-text-main">Simply</span> Chocolate
        </span>
        <svg class="logo-icon" width="21" height="21">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="nav header-nav">
        <ul class="nav-lsit header-nav-list">
          <li class="nav-item header-nav-item">
            <a
              id=""
              href=""
              class="nav-link header-nav-link"
              rel="noopener nofollow noreferrer"
              >Home</a
            >
          </li>
          <li class="nav-item header-nav-item">
            <a
              id=""
              href=""
              class="nav-link header-nav-link"
              rel="noopener nofollow noreferrer"
              >How it’s made?</a
            >
          </li>
          <li class="nav-item header-nav-item">
            <a
              id=""
              href=""
              class="nav-link header-nav-link"
              rel="noopener nofollow noreferrer"
              >Our products</a
            >
          </li>
          <li class="nav-item header-nav-item">
            <a
              id=""
              href=""
              class="nav-link header-nav-link"
              rel="noopener nofollow noreferrer"
              >Top sellers</a
            >
          </li>
          <li class="nav-item header-nav-item">
            <a
              id=""
              href=""
              class="nav-link header-nav-link"
              rel="noopener nofollow noreferrer"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
      <div class="soc header-soc">
        <ul class="soc-list header-soc-list">
          <li class="soc-item header-soc-item">
            <a
              href=""
              class="soc-link header-soc-link"
              rel="noopener nofollow noreferrer"
              target="_blank"
            >
              <svg class="soc-icon header-soc-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="soc-item header-soc-item">
            <a
              href=""
              class="soc-link header-soc-link"
              rel="noopener nofollow noreferrer"
              target="_blank"
            >
              <svg class="soc-icon header-soc-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="mob-menu-btn btn">
        <svg class="mob-menu-btn-icon icon" width="28" height="28">
          <use xlink:href="/src/images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="container hero-container">
    <h2 class="title hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <ul class="nav-list hero-nav-list">
      <li class="nav-item hero-nav-item">
        <a href="" class="nav-link hero-nav-link">Buy now</a>
      </li>
      <li class="nav-item hero-nav-item">
        <a href="" class="nav-link hero-nav-link">How it’s made</a>
      </li>
    </ul>
    <div class="scroll-down">
      <p class="scroll-down-text">scroll down</p>
      <button class="scroll-down-btn">
        <svg class="scroll-down-icon" width="16" height="16">
          <use href="./images/icons.svg#icon-down"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
