<section class="section hero">
  <div class="container hero-container">
    <div class="hero-content-wrap">
      <h2 class="title hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-nav">
        <ul class="nav-lsit hero-nav-list">
          <li class="nav-item hero-nav-item">
            <a href="" class="nav-link hero-nav-link">Buy now</a>
          </li>
          <li class="nav-item hero-nav-item">
            <a href="" class="nav-link hero-nav-link">How it’s made</a>
          </li>
        </ul>
        <div class="scroll-down">
          <p class="scroll-down-text">scroll down</p>
          <a href="" class="scroll-down-link">
            <svg class="scroll-down-icon" width="16" height="16">
              <use href="./images/icons.svg#icon-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
