.header-section {
  padding: 20px 0 14px 0;

  @include tablet {
    padding: 24px 0;
  }
  @include desktop {
    padding: 24px 0 32px 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
  @include desktop {
    display: block;
  }
  margin-left: 188px;
}

.header-nav-link {
  color: $nav-link-color-dark;
}
.header-soc {
  margin-left: auto;
  display: none;
  @include desktop {
    display: block;
  }
}
.header-soc-link {
  color: $soc-icon-color-dark;
}
