.hero-content-wrap {
  padding: 395px 20px 20px;
  border-radius: 30px;

  @include bg-img(
    '../images/hero-bg/defaut/hero-bg_m.png',
    '../images/hero-bg/mobile/hero-bg_m@1.webp',
    '../images/hero-bg/mobile/hero-bg_m@2.webp',
    '../images/hero-bg/mobile/hero-bg_m@3.webp',
    '../images/hero-bg/mobile/hero-bg_m@4.webp'
  );

  @include tablet {
    // padding-top: 671px;
    padding: 671px 40px 40px;
    // padding-bottom: 40px;
    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_t.png',
      '../images/hero-bg/tablet/hero-bg_t@1.webp',
      '../images/hero-bg/tablet/hero-bg_t@2.webp',
      '../images/hero-bg/tablet/hero-bg_t@3.webp',
      '../images/hero-bg/tablet/hero-bg_t@4.webp'
    );
  }
  @include desktop {
    padding-top: 381px;

    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_d.png',
      '../images/hero-bg/desktop/hero-bg_d@1.webp',
      '../images/hero-bg/desktop/hero-bg_d@2.webp',
      '../images/hero-bg/desktop/hero-bg_d@3.webp',
      '../images/hero-bg/desktop/hero-bg_d@4.webp'
    );
  }
}
.hero-title {
  width: 290px;

  margin-bottom: 32px;
}
.hero-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-nav-list {
  column-gap: 14px;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0;
  }
}
.hero-nav-item {
  padding: 12px 28px;
  border-radius: 41px;
  &:first-child {
    background-color: $btn-bg-color-light-second;
  }
  &:last-child {
    background-color: $btn-bg-color-transparent;
    border: 1px solid $border-color-light;
  }
}
.hero-nav-link {
  color: $nav-link-color-light;
  font-weight: 600;
}
.scroll-down {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.scroll-down-link {
  padding: 6px;

  background-color: $nav-link-color-light;
  border-radius: 50%;
}
.scroll-down-icon {
}
