.hero-container {
  height: 621px;
  padding-top: 395px;
  padding-bottom: 20px;
  border-radius: 30px;
  @include bg-img(
    '../images/hero-bg/defaut/hero-bg_m.png',
    '../images/hero-bg/mobile/hero-bg_m@1.webp',
    '../images/hero-bg/mobile/hero-bg_m@2.webp',
    '../images/hero-bg/mobile/hero-bg_m@3.webp',
    '../images/hero-bg/mobile/hero-bg_m@4.webp'
  );

  @include tablet {
    height: 890px;
    padding-top: 671px;
    padding-bottom: 40px;
    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_t.png',
      '../images/hero-bg/tablet/hero-bg_t@1.webp',
      '../images/hero-bg/tablet/hero-bg_t@2.webp',
      '../images/hero-bg/tablet/hero-bg_t@3.webp',
      '../images/hero-bg/tablet/hero-bg_t@4.webp'
    );
  }
  @include desktop {
    height: 600px;
    padding-top: 381px;

    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_d.png',
      '../images/hero-bg/desktop/hero-bg_d@1.webp',
      '../images/hero-bg/desktop/hero-bg_d@2.webp',
      '../images/hero-bg/desktop/hero-bg_d@3.webp',
      '../images/hero-bg/desktop/hero-bg_d@4.webp'
    );
  }
}
.hero-title {
  width: 290px;
  margin-bottom: 32px;
  @include tablet {
    margin-left: 20px;
  }
}
.hero-nav-link {
  font-weight: 600;
}
