.hero-section {
  padding-bottom: 72px;
  @include tablet {
    padding-bottom: 50px;
  }
  @include desktop {
    padding-bottom: 72px;
  }
}
.hero-content-wrap {
  padding: 395px 20px 20px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  @include bg-img(
    '../images/hero-bg/defaut/hero-bg_m.png',
    '../images/hero-bg/mobile/hero-bg_m@1.webp',
    '../images/hero-bg/mobile/hero-bg_m@2.webp',
    '../images/hero-bg/mobile/hero-bg_m@3.webp',
    '../images/hero-bg/mobile/hero-bg_m@4.webp'
  );

  @include tablet {
    // padding-top: 671px;
    padding: 671px 40px 40px;
    // padding-bottom: 40px;
    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_t.png',
      '../images/hero-bg/tablet/hero-bg_t@1.webp',
      '../images/hero-bg/tablet/hero-bg_t@2.webp',
      '../images/hero-bg/tablet/hero-bg_t@3.webp',
      '../images/hero-bg/tablet/hero-bg_t@4.webp'
    );
  }
  @include desktop {
    padding-top: 381px;

    @include bg-img(
      '../images/hero-bg/defaut/hero-bg_d.png',
      '../images/hero-bg/desktop/hero-bg_d@1.webp',
      '../images/hero-bg/desktop/hero-bg_d@2.webp',
      '../images/hero-bg/desktop/hero-bg_d@3.webp',
      '../images/hero-bg/desktop/hero-bg_d@4.webp'
    );
  }
}
.hero-title {
  max-width: 290px;
  color: $title-color-light;
  @include tablet {
    max-width: 484px;
  }
  margin-bottom: 32px;
}
.hero-nav {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero-nav-list {
  column-gap: 14px;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 0;
  }
}
.hero-nav-item {
  border-radius: 41px;
  color: $nav-link-color-light;
  font-weight: 600;
  @include transition;
  &:first-child {
    background-color: $btn-color-light-second;
    &:hover,
    &:focus {
      color: $btn-color-light-second;
      background-color: $btn-color-light-third;
    }
  }
  &:last-child {
    background-color: $btn-color-transparent;
    border: 1px solid $btn-color-light-first;
    &:hover,
    &:focus {
      color: $btn-color-light-second;
      border-color: $btn-color-light-second;
      background-color: $btn-color-transparent;
    }
  }
}
.hero-nav-link {
  display: block;
  font-weight: inherit;
  color: inherit;
  padding: 12px 28px;
}

.scroll-down-link {
  @include transition;
  color: $btn-color-light-first;
  column-gap: 12px;
  display: flex;
  align-items: center;
  @include font(12, 14, 500, -3);
  @include tablet {
    @include font(14, 18, 500, -3);
  }
  .scroll-down-icon-wrap {
    color: $btn-color-light-second;
  }
  &:hover,
  &:focus {
    color: $btn-color-light-second;
    .scroll-down-icon-wrap {
      background-color: $btn-color-light-second;
      color: $btn-color-light-first;
    }
  }
}

.scroll-down-icon-wrap {
  @include transition;

  color: $btn-color-light-first;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: $btn-color-light-first;
  border-radius: 50%;
  @include tablet {
    padding: 8px;
  }
}
.scroll-down-icon {
  fill: currentColor;
}
